<%- include('layout') %>

<h2>Lista de Clientes</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
    </tr>
    <% clientes.forEach(cliente => { %>
        <tr>
            <td><%= cliente.id %></td>
            <td><%= cliente.nome %></td>
            <td><%= cliente.email %></td>
        </tr>
    <% }); %>
</table>
