<%- include('layout') %>

<h2>Registrar Venda</h2>
<form action="/vendas" method="POST">
    <label>Cliente ID:</label>
    <input type="number" name="cliente_id" required>
    
    <label>Produto ID:</label>
    <input type="number" name="produto_id" required>
    
    <label>Quantidade:</label>
    <input type="number" name="quantidade" required>
    
    <button type="submit">Registrar</button>
</form>
